<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="DeviceInfo.FileName" value="ideviceinfo.exe"/>
      <add key="DeviceScreenshot.FileName" value="idevicescreenshot.exe" />
      <add key="DeviceImageMounter.FileName" value="ideviceimagemounter.exe" />
    </appSettings>
</configuration>